<!DOCTYPE html>
<html>
<head>
  <title>Your Madlib</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
@section Styles {
  
}
</head>
<body>
  <div class="container">
    <h1>Dogs in Space!!!</h1>
    <p>Dear @Model.SpaceTeamName,</p>
    <p>I sincerely hope that your mission to Europa is going @Model.AdverbOne. </p>
    <p>Your @Model.PluralNounOne back on Earth are @Model.AdverbTwo watching your progress.</p>
    <p>Be advised my @Model.AdjectiveOne K-9, there are warnings of extra-terrestrial life taking the form of @Model.PluralNounTwo and commandeering other vessels in the galaxy.</p>
    <p>Should you encounter any of these @Model.AdjectiveTwo ETs, your directive is to @Model.VerbOne, with no @Model.NounFormVerb.</p>
    <p>One last thing @Model.SpaceTeamName, we forgot to mention that a return flight will not be possible due to budget cuts sent down from our @Model.AdjectiveThree Boss. This may alarm you, but to make up for the slight error, we have packed extra @Model.PluralNounThree in the cargo section.</p>
    <p>All hail @Model.FakeDogCountry!</p>
  </div>
</body>
</html>