<!DOCTYPE html>
<html>
<head>
  <title>Your Madlib</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Honk if You're...</h1>
    <p>On @Model.DayOfWeek, @Model.Name went out on a drive in their @Model.CarModel.</p>
    <p>It was @Model.WeatherAdjective, and @Model.Name was feeling @Model.Emotion.</p>
    <p>But then, at the corner of @Model.NounOne and @Model.NounTwo, @Model.Name saw a sign in someone's driveway that said: "Honk if you're @Model.AdjectiveOne!!"</p>
    <p>This threw @Model.Name into a complete emotional @Model.NounThree spiral.</p>
    <p>@Model.Name got out of the car and @Model.VerbOne @Model.Adverb.</p>
    <p>The owner of the sign heard @Model.Name and went absolutely @Model.AdjectiveTwo, @Model.IngVerbOne all over the sidewalk.</p>
    <p>It was one @Model.NounFour of a day!</p>
  </div>
</body>
</html>